{% extends 'base.html.twig' %}

{% block body %}
	<div class="container page-content">
		<h1>À propos de MossAir</h1>

		<p>Depuis toujours, Arnaud Barotteaux porte un regard curieux sur la matière vivante et le souffle invisible de la nature. Grand lecteur de romans de science-fiction et spectateur assidu de films d'anticipation, il est fasciné par la frontière entre biologie et technologie.</p>

		<p>C'est en découvrant les puissants effets de la respiration consciente, des étirements dynamiques et des mécanismes de la neurochimie positive qu'il entame une profonde transformation personnelle. Il intègre une formation de développement web avec l'idée simple mais claire : reconnecter l'humain à lui-même, grâce à des interfaces aussi vivantes que fonctionnelles.</p>

		<p>C'est à la croisée de cette philosophie de vie, de son goût pour le design bio-inspiré, et de ses convictions écologiques, qu'émerge MossAir : une application en ligne dédiée à la vente de Moss Air, un purificateur d'air aussi organique qu'innovant, basé sur l'utilisation de mousse vivante.</p>
	</div>
{% endblock %}
